// Base - base styles of html elements for bae
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
html,
body {
  @include font-sansN4;
  font-size: $fontSize-base;
  color: $color-body;
  line-height: $lineHeight-base;
  letter-spacing: .005em;
}

h1, h2, h3, h4, h5, h6 {
  @include font-sansN3;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: $color-subHeader;
  font-size: $fontSize-subHeaders;
}

h1 {
  margin: 16px 0;
  font-size: $fontSize-h1;
  line-height: $lineHeight-h1;
  letter-spacing: -1px;
}

h2 {
  margin: 16px 0;
  font-size: $fontSize-h2;
  line-height: $lineHeight-h2;
  letter-spacing: -1px;
}

h3 {
  margin: 16px 0;
  font-size: $fontSize-h3;
  line-height: $lineHeight-h3;
  letter-spacing: -1px;
}

h4 {
  margin: 12px 0;
  font-size: $fontSize-h4;
  line-height: $lineHeight-h4;
  letter-spacing: -.8px;
}

h5 {
  margin: 10px 0;
  font-size: $fontSize-h5;
  line-height: $lineHeight-h5;
  letter-spacing: -.5px;
}

h6 {
  margin: 10px 0;
  font-size: $fontSize-h6;
  line-height: $lineHeight-h6;
}

p {
  margin-bottom: $fontSize-base;
}

a {
  color: $color-link;
}

a:focus {
  outline: thin dotted black;
}

mark {
  padding: 1px 3px;
  background-color: $bgColor-mark;
}

code {
  padding: 2px;
  background-color: $bgColor-code;
  border-radius: 2px;
  color: $color-code;
}

pre {
  display: block;
  background-color: $bgColor-pre;
  border-radius: 3px;
  word-break: break-all;
  word-wrap: break-word;
}

pre > code {
  padding: 1rem 1.5rem;
  white-space: pre;
  color: inherit;
  background-color: transparent;
}

.label-body {
  margin-left: 5px;
}

@media #{$range-tablet-up} {
  html,
  body {
    font-size: $fontSize-base--tabUp;
    line-height: $lineHeight-base--tabUp;
  }

  h1 {
    font-size: $fontSize-h1--tabUp;
    line-height: $lineHeight-h1--tabUp;
  }

  h2 {
    font-size: $fontSize-h2--tabUp;
    line-height: $lineHeight-h2--tabUp;
  }

  h3 {
    font-size: $fontSize-h3--tabUp;
    line-height: $lineHeight-h3--tabUp;
  }

  h4 {
    font-size: $fontSize-h4--tabUp;
    line-height: $lineHeight-h4--tabUp;
  }

  h5 {
    font-size: $fontSize-h5--tabUp;
    line-height: $lineHeight-h5--tabUp;
  }

  h6 {
    font-size: $fontSize-h6--tabUp;
    line-height: $lineHeight-h6--tabUp;
  }

  p {
    margin-bottom: $fontSize-base--tabUp;
  }
}