.btn {
  @include font-sansN7;
  position: relative;
  display: inline-block;
  height: 32px;
  min-width: 64px;
  padding: 0 13px;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: $fontSize-btn;
  line-height: $lineHeight-btn;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  background: transparent;
  border: none;
  border-radius: 2px;
  color: $color-btn;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
}

.btn:-moz-focus-inner {
  border: 0;
}

.btn:hover {
  background-color: $bgColor-btnHover;
}

.btn:focus:not(:active) {
  background-color: $bgColor-btnFocus;
}

.btn:active {
  background-color: $bgColor-btnActive;
}

.btn[disabled][disabled] {
  color: $color-btnDisabled;
  cursor: auto;
  background-color: transparent;
}

a.btn:focus {
  outline: none;
}

input.btn[type="submit"] {
  -webkit-appearance: none;
}

.btn--primary {
  background-color: $bgColor-btnPrimary;
  color: $color-btnPrimary;
}

.btn--primary:hover {
  background-color: $bgColor-btnPrimaryHover;
}

.btn--primary:focus:not(:active) {
  background-color: $bgColor-btnPrimaryFocus;
}

.btn--primary:active {
  background-color: $bgColor-btnPrimaryActive;
}