.flash {
  @include font-sansN3;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 2px;
}

.flash-message,
.flash-close {
  margin: 10px;
  color: inherit;
}

.flash-message {
  flex-grow: 2;
}

.flash-close {
  color: inherit;
  max-width: 50px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
}

.flash--primary,
.flash--danger,
.flash--success,
.flash--warning,
.flash--info {
  color: $color-flashFilled;
  border: none;
}
.flash--primary {
  background-color: $bgColor-flashPrimary;
}

.flash--danger {
  background-color: $bgColor-flashDanger;
}

.flash--success {
  background-color: $bgColor-flashSuccess;
}

.flash--warning {
  background-color: $bgColor-flashWarning;
}

.flash--info {
  background-color: $bgColor-flashInfo;
}