.table {
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 11px 13px;
}

.table th {
  border-bottom: 2px solid $borderColor-tableTh;
}

.table td {
  border-bottom: 1px solid $borderColor-tableTd;
}

.table--bordered th,
.table--bordered td {
  border: 1px solid $borderColor-tableBordered;
}